
  /* SUCCESS */


  .success-card {
    background-color: #fff;
    height: 70vh;
    margin:auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 650px;
    min-width: 355px; 
    max-height: 600px;
    margin-top: -45%;

/*     margin-top:-300px ;
    position: relative; */

}

.background{
    position: relative;
}

.success-img {
    margin-left:30%;
    width: 99px;
    height: 99px;
}

.success-msg {
    font-size: 64px;
    width: 17rem;
    font-weight: 500;
}
